/* ========================= ============================ */
  /* page layout css */

  * {
	margin: 0;
 }

 html,
 body {
	height: 100%;
 }

 .sect {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
 }

 .sectOne {
	height: 1000px;
	width: 100%;
	background-size: cover;
   background-attachment: fixed;
   background-image: linear-gradient(rgba(56,56,56,.8), #1a1a1a),
   url("../images/coding.gif");
	background-repeat: no-repeat;
 }

 .subsectAbout {
	height: 780px;
	background: url("../images/bg.jpg") repeat top left;
 }

 .sectTwo {
	background-image: url("../images/computer.jpeg");
 }

.sectThree {
background-image: linear-gradient(rgba(0, 0, 0, .3), #1a1a1a),
url("../images/wbw.jpg");
}


 /* first paralix title  */
 #header {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);
	color: #D3D3D3;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: 400;
	font-stretch: normal;
	font-size: 90px;
	line-height: 1.3;
	font-family: 'Fugaz One', cursive;
   text-align: center;
/* the javascript changes the display to block */
   display: none;
 }

 /* This reduces the size of the down icon button in the carousel models*/
 #arrowIcon {
   width: 90px;
   margin-top: 130px;
 }

 .projectIconSize {
	font-size: 80px;
	padding: 0 15px;
	margin-top: 6px;
 }

 #socketImg {
	height: 100px;
	width: auto;
	margin: 0px;
	padding: 0px;
 }

 #watsonLogoImg {
	height: 100px;
	width: auto;
 }

 #mongoLogoImg {
	height: 100px;
	width: auto;
 }

 .latestWorkDiv {
	overflow: auto;
	width: 900px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
 }

 #secondArrow {
	margin-top: 90px
 }

 #portfolioDiv {
	color: white;
	margin-top: 220px;
	font-family: 'Lato', sans-serif;
	font-size: 100px;
 }


 #contactMeDiv {
	position: relative;
  
}
 #connectWithMe {
	color: black;
	/* margin-top: 50px; */
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	overflow: hidden;
	position: absolute;
	 /* z-index: -1;  */
	left: 50%;
	top: 50%;
   transform: translate(-50%, -50%);
   width: 900px;
 }


 #emailButton{
   position: absolute;
   /* z-index: -1;  */
  left: 50%;
  top: 79%;
  transform: translate(-50%, -50%); 
 }
 #aboutMeDiv a {
   display: block;
   cursor:url('../images/thumbs/next3.png'), auto;
	}
	
	#name-li a {
		/* display: block; */
		cursor:url('../images/thumbs/next3.png'), auto;
		}

		#secondArrow {
			/* display: block; */
			cursor:url('../images/thumbs/next3.png'), auto;
			}

	/* .middleNavItems {
			cursor:url('../images/thumbs/next3.png'), auto;
	} */

	.citem1image1 , .centerImageContent ,.middleNavItems ,.carousel-control-next, .carousel-control-prev {
		cursor:url('../images/thumbs/next3.png'), auto;		
	}
	
	#arrowIcon {
		cursor:url('../images/thumbs/next3.png'), auto;
	}

	body a:hover{
	/* cursor: url(assets/images/next3.png), auto; */
	}

	
	.sideAdjustmentsLeft{
	flex-direction: column;
	margin-left: 15px;
	}
	
	.sideAdjustmentsRight{
	flex-direction: column;
	margin-right: 15px;
	}
	
	.carousel-indicators .active {
	background-color: #2f4862; 
	height: 20px;
	}
	
	
	.carousel-indicators li {
	width: 20px;
	height: 20px;
	margin: 2px;
	/* text-indent: -999px; */
	cursor: pointer;
	background-color: #000 \9;
	background-color: rgba(0, 0, 0, .2);
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 10px; 
	}
	
	
	/* edits the email me button */
	.theCursive {
		font-size: 16px;
		font-family: "brandon-grotesque", Constantia, Palatino, "Palatino Linotype";
		font-style: italic;
		color: white;
		background-color: #2a4763;
	 }
	





 /*============================ This area targes the footers =============================*/

 footer {
	margin: 0;
	background: #252525;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
	align-items: right;
	padding: 14px;
	flex: 1;
	justify-content: center;
 }

 .connect-icon {
	padding: 0 20px;
 }


 .iconic1 {
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	/* Safari */
	transition: color 2s ease, width 2s, height 2s, transform 2s;
 }

 .iconic1:hover {
	-webkit-transform: rotate(360deg);
	/* Safari */
	transform: translateY(+30px);
	color: black;
 }

 .iconic2 {
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	/* Safari */
	transition: color 2s ease, width 2s, height 2s, transform 2s;
 }

 .iconic2:hover {
	-webkit-transform: rotate(360deg);
	/* Safari */
	transform: translateY(+30px);
	color: #0084bf;
 }

 .iconic3 {
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	/* Safari */
	transition: color 2s ease, width 2s, height 2s, transform 2s;
 }

 .iconic3:hover {
	-webkit-transform: rotate(360deg);
	/* Safari */
	transform: translateY(+30px);
	color: #e05800;
 }

 .iconic4 {
	color: rgba(0, 0, 0, 0.5);
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
	/* Safari */
	transition: color 2s ease, width 2s, height 2s, transform 2s;
 }

 .iconic4:hover {
	-webkit-transform: rotate(360deg);
	/* Safari */
	transform: translateY(+30px);
	color: #009df6;
 }

 /* this first div in the carousel */

 /* .cItem1Div {
	height: 100%;
	background-color: #1a1a1a;
	background: url("../images/bg.jpg") repeat top left;
	position: relative;
 } */

 /* This is so that the white background doesnt show when switching images */
 #carouselDiv {
	/* background-color: #1a1a1a; */
	
	background-color: #D1F1EE;
	/* background-color: #d7cecf; */
	/* background: url("../images/bg.jpg") repeat top left; */
 }

 /* this image in the first carousel */
 .citem1image1 {
	height: 290px;
	padding: 10px;
background: #A9A9A9;
-webkit-box-shadow: 1px 1px 2px #708090, 1px 1px 2px rgba(158,111,86,0.3) inset;
-moz-box-shadow: 1px 1px 2px #708090, 1px 1px 2px rgba(158,111,86,0.3) inset;
box-shadow: 1px 1px 2px #708090, 1px 1px 2px rgba(158,111,86,0.3) inset;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px 4px 4px 4px;
 }

 .citem1image1:hover {
	/* cursor: url(images/next3.png), auto; */
 }


 .hiddeOverflow {
	/* overflow: auto; */
	position: absolute;
	 /* z-index: -1;  */
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 740px;
 }

 .centerImageContent {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	color: white;
	z-index: -1;  
 }

 .centerImageContent:hover {
 /* cursor: url(images/next3.png), auto; */
 }

 .cursorControlsC {
	/* color: rgb(40, 40, 40);
	font-size: 60px; */
 font-size: 16px;
 font-style: italic;
 color: #4a3124;
 text-shadow: 0px 1px 1px rgba(255,255,255,1);
 }

.cursorControlsC:hover{
/* cursor: url(images/next3.png), auto; */
}
 .h3Title{
 font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
 font-size: 80px;
 line-height: 35px;
 font-weight: 400;
 color: rgba(27,54,81,0.8);
 text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
 padding: 0px 0px 5px 0px;
}

.scrollImg{
padding: 10px;
background: #A9A9A9;
-webkit-box-shadow: 1px 1px 2px #708090, 1px 1px 2px rgba(158,111,86,0.3) inset;
-moz-box-shadow: 1px 1px 2px #708090, 1px 1px 2px rgba(158,111,86,0.3) inset;
box-shadow: 1px 1px 2px #708090, 1px 1px 2px rgba(158,111,86,0.3) inset;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px 4px 4px 4px;
}


/* text collor for description */
.itemtext{
	color: #626b74
}


.centerPdf {
	position: absolute;
   /* z-index: -1;  */
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%); 
}


.smallText{
	font-size: 25px;
	margin-left: 120px;
}
















