* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.body-text {
  position: relative;
  z-index: 10;
  padding-top: 7rem;
}
.body-text h1 {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-top: 2rem;
}
.body-text p {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #777;
  padding: 2rem 0;
  line-height: 2rem;
}

nav {
/* background-color: rgba(0, 0, 0, 0.3); */
  min-height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  transition: 0.35s all ease;
}
nav ul {
  list-style: none;
  padding: 2rem;
  transition: 0.35s all ease;
  display: flex;
  justify-content: space-between
}
nav ul li {
  display: inline-block;
  color: #fff;
  padding: 0 1rem;
  font-family: sans-serif;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-family: "BonvenoCFLight","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scrolled {
  min-height: 10px;
  transition: 0.35s all ease;
}
.scrolled ul {
  padding: 1rem 2rem;
  transition: 0.35s all ease;
}
.scrolled li {
  color: white;
  transition: 0.2s all ease-in-out;
}

#topNav li a:hover {
    /* border-bottom: 3px solid #BA272A; */
    padding-bottom: 14px;
    text-decoration: none;
}

.scrolled2 {
  min-height: 10px;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.35s all ease;
}

.displayMore{
  background-color: rgba(0, 0, 0, 0.0);
}



.guzman {
  border: 2px solid #383838;
  padding: 14px;
  /* background-color: #4e3022; */
} 

#portFolio-nav{
  display: flex;
}

.hidNavContent > a{
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  line-height: 35px;
  position: relative;
  font-weight: 400;
  color: rgba(27,54,81,0.8);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  padding: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  margin-right:100px
}

.notDisplayed{
  display: none;
}


/* nav ul li:nth-child(2){
 margin-left: 22%;
 } */

 /* nav ul li:nth-child(1){
  font-family: 'Raleway', sans-serif;
  padding: 10px 5px;
  font-size: 20px;
  color: #383838;
  } */
