* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background: url("../../images/maxresdefault.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

.body-text {
  position: relative;
  z-index: 10;
  padding-top: 7rem;
}
.body-text h1 {
  font-family: sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  padding-top: 2rem;
}
.body-text p {
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #777;
  padding: 2rem 0;
  line-height: 2rem;
}

nav {
background-color: rgba(0, 0, 0, 0.3);
  min-height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  transition: 0.35s all ease;
}
nav ul {
  list-style: none;
  padding: 2rem;
  transition: 0.35s all ease;
}
nav ul li {
  display: inline-block;
  color: #fff;
  padding: 0 1rem;
  font-family: sans-serif;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.scrolled {
  min-height: 10px;
  background: black;
  transition: 0.35s all ease;
}
.scrolled ul {
  padding: 1rem 2rem;
  transition: 0.35s all ease;
}
.scrolled li {
  color: white;
  transition: 0.2s all ease-in-out;
}

#topNav li a:hover {
    border-bottom: 3px solid #BA272A;
    padding-bottom: 14px;
}
